{% extends "base.html" %}
{% block title %}Enter Secret{% endblock %}
{% block content %}
    <form name="filter" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Enter secret</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {% for error in form.secret.errors %}
                                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                                {% endfor %}
                                {{ form.secret.label_tag }}
                                <textarea class="form-control" rows="3" id="{{ form.secret.id_for_label }}" name="{{ form.secret.html_name }}">{{ form.secret.value|default:"" }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Go!">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}