{% extends "base.html" %}
{% block title %}Starting{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">Ready</h3>
                </div>
                <div class="panel-body">
                    {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                    {% endfor %}
                    <a class="btn btn-primary btn-block" href="{% url 'controlpanel:stats' %}" role="button" target="_blank">Open panel</a>
                    <a class="btn btn-danger btn-block" href="{% url 'controller:stop' %}" role="button">Stop panel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
