{% extends "base.html" %}
{% block title %}Starting{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">Starting...</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            Please wait while starting the panel
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}

$(function() {
    interval = setInterval(function(){
    $.getJSON( "{% url 'controller:check' %}", function check( data ) {
        if (data['ready']) {
            clearTimeout(interval);
            $(location).attr('href','{% url 'controller:panel' %}');;
        }
    })}, 1000);
});
{% endblock %}
