<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Spl01tm3: {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block customheaders %}{% endblock %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/css/flags32.min.css" rel="stylesheet">
<style>
body {
    margin-top: 20px;
}
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}
.mono {
    font-family: monospace;
}
.signature {
    padding: 6px;
    margin-bottom: 3px;
}
img.fade {
    opacity:0.4;
    filter:alpha(opacity=40);
}
img.fade:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}
.section-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-bottom: 3px;
}
{% block customcss %}{% endblock %}
</style>
</head>
<body>
    <div class="container-fluid">
        {% block navbar %}{% endblock %}
        <br>
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="row">
                <div class="col-md-1 col-md-offset-11"><a href="#">Back to top</a></div>
            </div>
        </footer>
    </div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/Chart.min.js"></script>

    <script>
    {% block bottomscripts %}{% endblock %}
    </script>
</body>
</html>
