
    <div class="pull-right">
        Welcome, {{ user.username }} [ <a href="{% url 'admin:index' %}">Advanced</a> ] [ <a href="{% url 'logout' %}">Logout</a> ]
    </div>
    
    <ul class="nav nav-pills" role="tablist">
      <li role="presentaion" {% if active_tab == 'stats' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'stats' %}#{% else %}{% url 'controlpanel:stats' %}{% endif %}">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            Stats
        </a>
      </li>
      <li role="presentaion" {% if active_tab == 'threads' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'threads' %}#{% else %}{% url 'controlpanel:threads' %}{% endif %}">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
            Threads
        </a>
      </li>
      <li role="presentaion" {% if active_tab == 'exploits' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'exploits' %}#{% else %}{% url 'controlpanel:exploits' %}{% endif %}">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            Exploits
        </a>
      </li>
      <li role="presentaion" {% if active_tab == 'payloads' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'payloads' %}#{% else %}{% url 'controlpanel:payloads' %}{% endif %}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Payloads
        </a>
      </li>
      <li role="presentaion" {% if active_tab == 'security' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'security' %}#{% else %}{% url 'controlpanel:security' %}{% endif %}">
            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
            Security
            </a>
      </li>
      <li role="presentaion" {% if active_tab == 'notifications' %} class="active"{% endif %}>
        <a href="{% if active_tab == 'notifications' %}#{% else %}{% url 'controlpanel:notifications' %}{% endif %}">
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            Notifications
        </a>
      </li>
    </ul>
