{% extends "base.html" %}
{% load my_slugify %}
{% block title %}Explore logs{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:stats' %}">Stats</a></li>
        <li class="active">Details</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" id="threads_list">
                <div class="panel-heading">
                    <h3 class="panel-title">Stats - Details</h3>
                </div>
                <div class="panel-body">
                    <form name="filter">
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.errors.date_min }}</div>
                        {% endfor %}
                        <div class="row">
                            <div id="picker_date_min" class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group date" id="{{ form.date_min.id_for_label }}">
                                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_min.html_name }}" placeholder="{{  form.date_min.label }}"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="picker_date_max" class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group date" id="{{ form.date_max.id_for_label }}">
                                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_max.html_name }}" placeholder="{{  form.date_max.label }}"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="{{ form.browser.id_for_label }}" name="{{ form.browser.html_name }}" value="{{ form.browser.value|default:"" }}" placeholder="{{  form.browser.label }}">
                                </div>
                            </div>
                            <div class="col-md-2 form-inline">
                                <label class="checkbox">
                                    <input name="{{form.auto_refresh.html_name}}" id="{{form.auto_refresh.id_for_label}}" type="checkbox"{% if form.auto_refresh.value %} checked="checked"{% endif %}> {{ form.auto_refresh.label }} <span id="countdown"></span>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-block btn-info" type="reset" value="Reset"></input>
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-block btn-success" type="submit" value="Filter"></input>
                            </div>
                        </div>
                        {% if form.errors.date_min or form.errors.date_max or form.errors.browser or form.error.auto_refresh %}
                        <div class="row">
                            <div class="col-md-2">
                                {% if form.errors.date_min %}
                                <div class="alert alert-danger">{{ form.errors.date_min|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                {% if form.errors.date_max %}
                                <div class="alert alert-danger">{{ form.errors.date_max|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if form.errors.browser %}
                                <div class="alert alert-danger">{{ form.errors.thread|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                {% if form.errors.auto_refresh %}
                                <div class="alert alert-danger">{{ form.errors.auto_refresh|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div id="select_country" class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control f32" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}">
                                        {% for choice in form.country.field.choices %}
                                        <option value="{{ choice.0 }}" data-content="{% if choice.0 %}<span class='flag {{choice.0|lower}}'></span> {% endif %}{{choice.1}}"{% if choice.0 in form.country.value %} selected="selected"{% endif %}></option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="select_thread" class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" name="{{ form.thread.html_name }}" id="{{ form.thread.id_for_label }}">
                                        {% for choice in form.thread.field.choices %}
                                        <option value="{{ choice.0 }}"{% ifequal choice.0 form.thread.value %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="{{ form.os.id_for_label }}" name="{{ form.os.html_name }}" value="{{ form.os.value|default:"" }}" placeholder="{{  form.os.label }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" name="{{ form.status.html_name }}" id="{{ form.status.id_for_label }}">
                                    {% for choice in form.status.field.choices %}
                                    <option value="{{ choice.0 }}"{% ifequal choice.0 form.status.value %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if form.errors.country or form.errors.thread or form.errors.os or form.errors.status %}
                        <div class="row">
                            <div class="col-md-2">
                                {% if form.errors.country %}
                                <div class="alert alert-danger">{{ form.errors.country|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                {% if form.errors.thread %}
                                <div class="alert alert-danger">{{ form.errors.thread|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if form.errors.os %}
                                <div class="alert alert-danger">{{ form.errors.os|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                {% if form.errors.status %}
                                <div class="alert alert-danger">{{ form.errors.status|join:"<br>" }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </form>
                    <br>
                    <table class="table table-hover f32" id="table_logs">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Session ID</th>
                                <th>Source IP</th>
                                <th>Thread</th>
                                <th>County</th>
                                <th>Browser</th>
                                <th>OS</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr class="{% if log.payload_success %}success{% elif log.exploit_success %}warning{% else %}danger{% endif %}">
                                <td>
                                    {{ log.timestamp|date:"Y-M-d H:i:s" }}
                                </td>
                                <td>
                                    <a href="{% url 'controlpanel:explore_logs' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&session_id={{log.session_id}}">{{ log.session_id|truncatechars:16 }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'controlpanel:explore_logs' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&source_ip={{log.src_ip}}">{{ log.src_ip }}</a>
                                </td>
                                <td>
                                    {{ log.thread.name }}
                                </td>
                                <td>
                                    <span class='flag {{log.country.code_2|lower}}'></span> {{ log.country.name }}
                                </td>
                                <td>
                                    <img src="{% url 'controlpanel:browser_icon' log.browser_type|my_slugify %}"> {{ log.browser_type }} ({{ log.browser_version }})
                                </td>
                                <td>
                                    <img src="{% url 'controlpanel:os_icon' log.os_type|my_slugify %}"> {{ log.os_type }} ({{ log.os_version }})
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-flash {% if log.exploit_success %}text-success{% else %}text-danger{% endif %}" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-file {% if log.payload_success %}text-success{% else %}text-danger{% endif %}" aria-hidden="true"></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}
var refreshTimeout;
var countDownTimeout;
var timeoutSeconds = 60000;

function countDown(n){
  n -= 1000;
  if(n > 0){
    countDownTimeout = setTimeout("countDown(" + n + ")", 1000);
  }
  else{
    location.reload(true);
  }
  $('#countdown').html('(' + Math.floor(n/1000) + ')');
}


$(function() {
    $('#{{ form.date_min.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_min.value}}"
    });
    $('#{{ form.date_max.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_max.value}}"
    });
    if ($('#{{form.auto_refresh.id_for_label}}').prop('checked')){
        countDownTimeout = setTimeout("countDown(" + timeoutSeconds + ");", 1000);
    }
    
    $('#{{form.auto_refresh.id_for_label}}').change(function(){
        if ($(this).prop('checked')){
            countDownTimeout = setTimeout("countDown(" + timeoutSeconds + ");", 1000);
        }
        else{
            clearTimeout(countDownTimeout);
            $('#countdown').html('');
        }
    });

    $(':input').change(function(){
        if ($(this).attr('id') != '{{form.auto_refresh.id_for_label}}'){
            clearTimeout(countDownTimeout);
            $('#{{form.auto_refresh.id_for_label}}').attr('checked', false);
            $('#countdown').html('');
        }
    });
    
    $('.icon-plus-sign').click(function(){
        if ($(this).attr('id') != '{{form.auto_refresh.id_for_label}}'){
            clearTimeout(countDownTimeout);
            $('#{{form.auto_refresh.id_for_label}}').attr('checked', false);
            $('#countdown').html('');
        }
    });
});

$('#table_logs').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": true,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no logs here"
    }
});
$('#{{ form.country.id_for_label }}').selectpicker();
$('#{{ form.thread.id_for_label }}').selectpicker();
$('#{{ form.status.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.table .label {
    display: inline-block;
    margin: 0 1px;
}
{% endblock %}