{% extends "base.html" %}
{% block title %}Explore logs{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:stats' %}">Stats</a></li>
        <li><a href="{% url 'controlpanel:details' %}">Details</a></li>
        <li class="active">Explore logs</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" id="threads_list">
                <div class="panel-heading">
                    <h3 class="panel-title">Explore logs</h3>
                </div>
                <div class="panel-body">
                    <form name="filter">
                        <div class="row form-inline">
                            <div id="picker_date_min" class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group date" id="{{ form.date_min.id_for_label }}">
                                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_min.html_name }}" placeholder="{{  form.date_min.label }}"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="picker_date_max" class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group date" id="{{ form.date_max.id_for_label }}">
                                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_max.html_name }}" placeholder="{{  form.date_max.label }}"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="{{ form.source_ip.id_for_label }}" name="{{ form.source_ip.html_name }}" value="{{ form.source_ip.value|default:"" }}" placeholder="{{  form.source_ip.label }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="{{ form.session_id.id_for_label }}" name="{{ form.session_id.html_name }}" value="{{ form.session_id.value|default:"" }}" placeholder="{{  form.session_id.label }}">
                                </div>
                            </div>
                            <div class="col-md-1 col-md-offset-2">
                                <input class="btn btn-block btn-info" type="reset" value="Reset"></input>
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-block btn-success" type="submit" value="Filter"></input>
                            </div>
                        </div>
                    </form>
                    <br>
                    <table class="table table-striped table-hover" id="table_logs">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Severity</th>
                                <th>Type</th>
                                <th>Log message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>
                                    {{ log.parsed.timestamp|date:"Y-M-d H:i:s" }}
                                </td>
                                <td>
                                    {{ log.parsed.level }}
                                </td>
                                <td>
                                    {{ log.parsed.type }}
                                </td>
                                <td>
                                    <div>
                                        {{ log.raw }}
                                    </div>
                                    <div>
                                        {% for key, value in log.parsed.iteritems %}{% if key == 'source_ip' %}<a href="javascript:set_ip('{{value}}');"><span class="label label-danger">{{key}}:{{value|default:"-"}}</span></a>{% elif key == 'session_key' %}<a href="javascript:set_sesskey('{{value}}');"><span class="label label-success">{{key}}:{{value|default:"-"}}</span></a>{% else %}<span class="label label-primary">{{key}}:{{value|default:"-"}}</span>{% endif %}{% endfor %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}
function set_ip(value){
    $('#{{ form.source_ip.id_for_label }}').val(value);
}

function set_sesskey(value){
    $('#{{ form.session_id.id_for_label }}').val(value);
}

$(function() {
    $('#{{ form.date_min.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_min.value}}"
    });
    $('#{{ form.date_max.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_max.value}}"
    });
});

$('#table_logs').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no logs here"
    }
});
{% endblock %}
{% block customcss %}
.table .label {
    display: inline-block;
    margin: 0 1px;
}
{% endblock %}