{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary" id="panel_recipients">
                <div class="panel-heading">
                    <h3 class="panel-title">Notification Recipients</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="table_recipients">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email address</th>
                                <th>Email notification types</th>
                                <th>Phone number</th>
                                <th>SMS notification types</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recipient in recipients %}
                            <tr onclick="window.document.location='{% url 'controlpanel:recipient' recipient.id %}';" style="cursor:pointer;">
                                <td>
                                    {{ recipient.name }}
                                </td>
                                <td>
                                    {{ recipient.email_address }}
                                </td>
                                <td>
                                    {% if recipient.email_message_types %}
                                    <ul>
                                    {% for notification_type in recipient.email_message_types.all %}
                                        <li>{{ notification_type.name }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                    Disabled
                                    {% endif %}
                                </td>
                                <td>
                                    {{ recipient.sms_number }}
                                </td>
                                <td>
                                    {% if recipient.sms_message_types %}
                                    <ul>
                                    {% for notification_type in recipient.sms_message_types.all %}
                                        <li>{{ notification_type.name }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                    Disabled
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="{% url 'controlpanel:recipient' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new Notification Recipient</a>
                </div>
            </div>
            <div class="panel panel-primary" id="panel_smtp_configurations">
                <div class="panel-heading">
                    <h3 class="panel-title">SMTP Server Configurations</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="table_smtp_configurations">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Server</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for smtp_configuration in smtp_configurations %}
                            <tr onclick="window.document.location='{% url 'controlpanel:smtpconf' smtp_configuration.id %}';" style="cursor:pointer;">
                                <td>
                                    {{ smtp_configuration.name }}
                                </td>
                                <td>
                                    {{ smtp_configuration.server }}:{{ smtp_configuration.port }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="{% url 'controlpanel:smtpconf' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new SMTP Server Configuration</a>
                </div>
            </div>
            <div class="panel panel-primary" id="panel_sms_configurations">
                <div class="panel-heading">
                    <h3 class="panel-title">SMS Service Configurations</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="table_sms_configurations">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sms_configuration in sms_configurations %}
                            <tr onclick="window.document.location='{% url 'controlpanel:smsconf' sms_configuration.id %}';" style="cursor:pointer;">
                                <td>
                                    {{ sms_configuration.name }}
                                </td>
                                <td>
                                    {{ sms_configuration.service.get_service_display }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="{% url 'controlpanel:smsconf' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new SMS Service Configuration</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <nav class="bs-docs-sidebar">
                <ul id="sidebar" class="nav nav-stacked fixed">
                    <li><a href="#panel_recipients">Notification Recipients</a></li>
                    <li><a href="#panel_smtp_configurations">SMTP Server Configurations</a></li>
                    <li><a href="#panel_sms_configurations">SMS Service Configurations</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}
$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$('#table_recipients').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no notification recipients here"
    }
});

$('#table_smtp_configurations').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no SMTP server configurations here"
    }
});

$('#table_sms_configurations').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no SMS service configurations here"
    }
});
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}