{% extends "base.html" %}
{% block title %}Payloads{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary" id="payloads_list">
                <div class="panel-heading">
                    <h3 class="panel-title">Payloads</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="table_payloads">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payload in payloads %}
                            <tr onclick="window.document.location='{% url 'controlpanel:payload' payload.id %}';" style="cursor:pointer;">
                                <td>
                                    {{ payload.id }}
                                </td>
                                <td>
                                    {{ payload.name }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="{% url 'controlpanel:payload' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new Payload</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}
$('#table_payloads').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no payloads here"
    }
});
{% endblock %}
