{% extends "base.html" %}
{% block title %}Payloads - {{ form.name.value }}{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:payloads' %}">Payloads</a></li>
        <li class="active">{{ form.name.value }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="payload" name="payload" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_general_settings">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Settings</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label_tag }}{% if form.name.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.name.label }}" data-content="{{ form.name.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:"" }}">
                        </div>
                        {% for error in form.file.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.file.label_tag }}{% if form.file.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.file.label }}" data-content="{{ form.file.help_text }}"></span></div>{% endif %}
                            {{ form.file }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="payload_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_general_settings">General settings</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$('form#payload').change(function(){
    $('input#payload_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}
