{% extends "base.html" %}
{% block title %}Notifications - Recipient{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:notifications' %}">Notifications</a></li>
        <li class="active">{{ form.name.value|default:"New Notification Recipient" }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="recipient" name="recipient" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_recipient_info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recipient Info</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label_tag }} {% if form.name.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.name.label }}" data-content="{{ form.name.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:"" }}">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_email">
                    <div class="panel-heading">
                        <h3 class="panel-title">Email Configuration</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.email_address.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.email_address.label_tag }} {% if form.email_address.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.email_address.label }}" data-content="{{ form.email_address.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.email_address.id_for_label }}" name="{{ form.email_address.html_name }}" value="{{ form.email_address.value|default:"" }}">
                        </div>
                        {% for error in form.email_message_types.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.email_message_types.label_tag }} {% if form.email_message_types.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.email_message_types.label }}" data-content="{{ form.email_message_types.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.email_message_types.html_name }}" id="{{ form.email_message_types.id_for_label }}" multiple="multiple">
                                {% for choice in form.email_message_types.field.choices %}
                                <option value="{{ choice.0 }}"{% if choice.0 in form.email_message_types.value %} selected="selected"{% endif %}>{{choice.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.email_server_conf.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.email_server_conf.label_tag }} {% if form.email_server_conf.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.email_server_conf.label }}" data-content="{{ form.email_server_conf.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.email_server_conf.html_name }}" id="{{ form.email_server_conf.id_for_label }}">
                                {% for choice in form.email_server_conf.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.email_server_conf.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if form.instance.id %}
                        <a class="btn btn-success" href="{% url 'controlpanel:smtpconf' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new SMTP Server Configuration</a>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_sms">
                    <div class="panel-heading">
                        <h3 class="panel-title">SMS Configuration</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.sms_number.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.sms_number.label_tag }} {% if form.sms_number.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.sms_number.label }}" data-content="{{ form.sms_number.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.sms_number.id_for_label }}" name="{{ form.sms_number.html_name }}" value="{{ form.sms_number.value|default:"" }}">
                        </div>
                        {% for error in form.sms_message_types.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.sms_message_types.label_tag }} {% if form.sms_message_types.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.sms_message_types.label }}" data-content="{{ form.sms_message_types.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.sms_message_types.html_name }}" id="{{ form.sms_message_types.id_for_label }}" multiple="multiple">
                                {% for choice in form.sms_message_types.field.choices %}
                                <option value="{{ choice.0 }}"{% if choice.0 in form.sms_message_types.value %} selected="selected"{% endif %}>{{choice.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.sms_server_conf.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.sms_server_conf.label_tag }} {% if form.sms_server_conf.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.sms_server_conf.label }}" data-content="{{ form.sms_server_conf.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.sms_server_conf.html_name }}" id="{{ form.sms_server_conf.id_for_label }}">
                                {% for choice in form.sms_server_conf.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.sms_server_conf.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if form.instance.id %}
                        <a class="btn btn-success" href="{% url 'controlpanel:smsconf' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new SMS Service Configuration</a>
                        {%  endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="recipient_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_recipient_info">Recipient Info</a></li>
                        <li><a href="#panel_email">Email Configuration</a></li>
                        <li><a href="#panel_sms">SMS Configuration</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$('form#recipient').change(function(){
    $('input#recipient_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

$(function () {
  $('[data-toggle="popover"]').popover({placement: "auto top", html: true})
})

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#{{ form.asncheck_type.id_for_label }}').selectpicker();
$('#{{ form.hostnamecheck_type.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}