{% extends "base.html" %}
{% block title %}Threads - {{ thread.name }} - Rules - {{ form.name.value }}{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:threads' %}">Threads</a></li>
        <li><a href="{% url 'controlpanel:thread' thread.id %}">{{ thread.name }}</a></li>
        <li class="active">{{ form.name.value }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="rule" name="rule" method="post" role="form">
        {% csrf_token %}
        <input type="hidden" name="thread" id="id_thread" value="{{ thread.id }}">
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_general_settings">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Settings</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label_tag }} {% if form.name.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.name.label }}" data-content="{{ form.name.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:"" }}">
                        </div>
                        {% for error in form.sort_order.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.sort_order.label_tag }} {% if form.sort_order.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.sort_order.label }}" data-content="{{ form.sort_order.help_text }}"></span></div>{% endif %}
                            <input type="number" class="form-control" id="{{ form.sort_order.id_for_label }}" name="{{ form.sort_order.html_name }}" value="{{ form.sort_order.value }}" min="0" max="999">
                        </div>
                        {% for error in form.enabled.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.enabled }} {{ form.enabled.label }}
                            </label>
                            {% if form.enabled.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.enabled.label }}" data-content="{{ form.enabled.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.stop_after_current.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.stop_after_current }} {{ form.stop_after_current.label }}
                            </label>
                            {% if form.stop_after_current.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.stop_after_current.label }}" data-content="{{ form.stop_after_current.help_text }}"></span></div>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_exploit_payload">
                    <div class="panel-heading">
                        <h3 class="panel-title">Exploit &amp; Payload</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.exploit.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.exploit.label_tag }} {% if form.exploit.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.exploit.label }}" data-content="{{ form.exploit.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.exploit.html_name }}" id="{{ form.exploit.id_for_label }}">
                                {% for choice in form.exploit.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.exploit.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.payload.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.payload.label_tag }} {% if form.payload.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.payload.label }}" data-content="{{ form.payload.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.payload.html_name }}" id="{{ form.payload.id_for_label }}">
                                {% for choice in form.payload.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.payload.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="rule_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_general_settings">General settings</a></li>
                        <li><a href="#panel_exploit_payload">Exploit &amp; Payload</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$(function () {
  $('[data-toggle="popover"]').popover({placement: "auto top", html: true})
})

$('form#rule').change(function(){
    $('input#rule_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#{{ form.exploit.id_for_label }}').selectpicker();
$('#{{ form.payload.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}
