{% extends "base.html" %}
{% block title %}Security{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <form id="security" name="security" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_autoban">
                    <div class="panel-heading">
                        <h3 class="panel-title">Automatic IP Banning</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.ban_suspicious_ips.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.ban_suspicious_ips }} {{ form.ban_suspicious_ips.label }}
                            </label>
                            {% if form.ban_suspicious_ips.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.ban_suspicious_ips.label }}" data-content="{{ form.ban_suspicious_ips.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.ban_duration.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.ban_duration.label_tag }} {% if form.ban_duration.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.ban_duration.label }}" data-content="{{ form.ban_duration.help_text }}"></span></div>{% endif %}
                            <input type="number" class="form-control" id="{{ form.ban_duration.id_for_label }}" name="{{ form.ban_duration.html_name }}" value="{{ form.ban_duration.value }}" min="0" max="65535">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_ip_addresses">
                    <div class="panel-heading">
                        <h3 class="panel-title">Generic IP Addresses Blacklist</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.ip_blacklist.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.ip_blacklist.label_tag }} {% if form.ip_blacklist.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.ip_blacklist.label }}" data-content="{{ form.ip_blacklist.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.ip_blacklist.html_name }}" id="{{ form.ip_blacklist.id_for_label }}">{{ form.ip_blacklist.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_autonomous_systems">
                    <div class="panel-heading">
                        <h3 class="panel-title">Generic Autonomous Systems Blacklist</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.asncheck_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.asncheck_type.label_tag }} {% if form.asncheck_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.asncheck_type.label }}" data-content="{{ form.asncheck_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.asncheck_type.html_name }}" id="{{ form.asncheck_type.id_for_label }}">
                                {% for choice in form.asncheck_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.asncheck_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.asn_blacklist.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.asn_blacklist.label_tag }} {% if form.asn_blacklist.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.asn_blacklist.label }}" data-content="{{ form.asn_blacklist.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.asn_blacklist.html_name }}" id="{{ form.asn_blacklist.id_for_label }}">{{ form.asn_blacklist.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_host_names">
                    <div class="panel-heading">
                        <h3 class="panel-title">Generic Hostnames (Reverse DNS) Blacklist</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.hostnamecheck_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.hostnamecheck_type.label_tag }} {% if form.hostnamecheck_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.hostnamecheck_type.label }}" data-content="{{ form.hostnamecheck_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.hostnamecheck_type.html_name }}" id="{{ form.hostnamecheck_type.id_for_label }}">
                                {% for choice in form.hostnamecheck_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.hostnamecheck_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.hostname_blacklist.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.hostname_blacklist.label_tag }} {% if form.hostname_blacklist.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.hostname_blacklist.label }}" data-content="{{ form.hostname_blacklist.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.hostname_blacklist.html_name }}" id="{{ form.hostname_blacklist.id_for_label }}">{{ form.hostname_blacklist.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="security_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_autoban">Automatic IP Banning</a></li>
                        <li><a href="#panel_ip_addresses">IP Addresses</a></li>
                        <li><a href="#panel_autonomous_systems">Autonomous Systems</a></li>
                        <li><a href="#panel_host_names">Host names</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$(function () {
  $('[data-toggle="popover"]').popover({placement: "auto top", html: true})
})

$('form#security').change(function(){
    $('input#security_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#{{ form.asncheck_type.id_for_label }}').selectpicker();
$('#{{ form.hostnamecheck_type.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}