{% extends "base.html" %}
{% block title %}Notifications - SMTP Configuration{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:notifications' %}">Notifications</a></li>
        <li class="active">{{ form.name.value|default:"New SMTP Server Configuration" }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="recipient" name="recipient" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_general_info">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Info</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label_tag }} {% if form.name.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.name.label }}" data-content="{{ form.name.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:"" }}">
                        </div>
                        {% for error in form.sender.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.sender.label_tag }} {% if form.sender.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.sender.label }}" data-content="{{ form.sender.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.sender.id_for_label }}" name="{{ form.sender.html_name }}" value="{{ form.sender.value|default:"" }}">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_basic">
                    <div class="panel-heading">
                        <h3 class="panel-title">Basic Server Configuration</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.server.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.server.label_tag }} {% if form.server.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.server.label }}" data-content="{{ form.server.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.server.id_for_label }}" name="{{ form.server.html_name }}" value="{{ form.server.value|default:"" }}">
                        </div>
                        {% for error in form.port.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.port.label_tag }} {% if form.port.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.port.label }}" data-content="{{ form.port.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.port.id_for_label }}" name="{{ form.port.html_name }}" value="{{ form.port.value|default:"" }}">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_auth_enc">
                    <div class="panel-heading">
                        <h3 class="panel-title">Authentication &amp; Encryption</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.encryption.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.encryption.label_tag }} {% if form.encryption.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.encryption.label }}" data-content="{{ form.encryption.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.encryption.html_name }}" id="{{ form.encryption.id_for_label }}">
                                {% for choice in form.encryption.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.encryption.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.auth_required.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.auth_required }} {{ form.auth_required.label }}
                            </label>
                            {% if form.auth_required.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.auth_required.label }}" data-content="{{ form.auth_required.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.username.label_tag }} {% if form.username.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.username.label }}" data-content="{{ form.username.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:"" }}">
                        </div>
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.password.label_tag }} {% if form.password.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.password.label }}" data-content="{{ form.password.help_text }}"></span></div>{% endif %}
                            <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:"" }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="recipient_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_general_info">General Info</a></li>
                        <li><a href="#panel_basic">Basic Server Configuration</a></li>
                        <li><a href="#panel_auth_enc">Authentication &amp; Encryption</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$(function () {
  $('[data-toggle="popover"]').popover({placement: "auto top", html: true})
})

$('form#recipient').change(function(){
    $('input#recipient_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#{{ form.asncheck_type.id_for_label }}').selectpicker();
$('#{{ form.hostnamecheck_type.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}