{% extends "base.html" %}
{% load my_slugify %}
{% block title %}Stats{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <form name="filter">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ form.errors.date_min }}</div>
        {% endfor %}
        <div class="row">
            <div id="picker_date_min" class="col-md-2">
                <div class="form-group">
                    <div class="input-group date" id="{{ form.date_min.id_for_label }}">
                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_min.html_name }}" placeholder="{{  form.date_min.label }}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="picker_date_max" class="col-md-2">
                <div class="form-group">
                    <div class="input-group date" id="{{ form.date_max.id_for_label }}">
                        <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_max.html_name }}" placeholder="{{  form.date_max.label }}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="thread_selector" class="col-md-2">
                <div class="form-group">
                    <select class="form-control" name="{{ form.thread.html_name }}" id="{{ form.thread.id_for_label }}">
                        {% for choice in form.thread.field.choices %}
                        <option value="{{ choice.0 }}"{% ifequal choice.0 form.thread.value %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2 form-inline">
                <label class="checkbox">
                    <input name="{{form.auto_refresh.html_name}}" id="{{form.auto_refresh.id_for_label}}" type="checkbox"{% if form.auto_refresh.value %} checked="checked"{% endif %}> {{ form.auto_refresh.label }} <span id="countdown"></span>
                </label>
            </div>
            <div class="col-md-2 form-inline">
                Last updated: {{ last_updated|date:"Y-m-d H:i:s" }}
            </div>
            <div class="col-md-1">
                <input class="btn btn-block btn-info" type="reset" value="Reset"></input>
            </div>
            <div class="col-md-1">
                <input class="btn btn-block btn-success" type="submit" value="Filter"></input>
            </div>
        </div>
        {% if form.errors %}
        <div class="row">
            <div class="col-md-2">
                {% if form.errors.date_min %}
                <div class="alert alert-danger">{{ form.errors.date_min|join:"<br>" }}</div>
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if form.errors.date_max %}
                <div class="alert alert-danger">{{ form.errors.date_max|join:"<br>" }}</div>
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if form.errors.thread %}
                <div class="alert alert-danger">{{ form.errors.thread|join:"<br>" }}</div>
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if form.errors.auto_refresh %}
                <div class="alert alert-danger">{{ form.errors.auto_refresh|join:"<br>" }}</div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </form>
    
    <p>&nbsp;</p>
    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Welcome, {{ user.username }}</h4>
                </div>
                <div class="panel-body">
                    You've got:
                    <ul>
                        <li>{{ active_threads|default:0 }} active thread{{ active_threads|pluralize }}</li>
                        <li>{{ inactive_threads|default:0 }} inactive thread{{ inactive_threads|pluralize }}</li>
                        <li>{{ active_rules|default:0 }} active rule{{ active_rules|pluralize }}</li>
                        <li>{{ inactive_rules|default:0 }} inactive rule{{ inactive_rules|pluralize }}</li>
                        <li>{{ exploits|default:0 }} exploit{{ exploits|pluralize }}</li>
                        <li>{{ payloads|default:0 }} payload{{ payloads|pluralize }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Successful connections</h4>
                </div>
                <div class="panel-body">
                    Last {{ last_5_success|length }} successful connections (payload downloaded):
                    <ul>
                        {% for log in last_5_success %}
                        <li>{{ log.timestamp|date:"Y-m-d H:i:s" }} - <a href="{% url 'controlpanel:explore_logs' %}?source_ip={{log.src_ip}}">{{ log.src_ip }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'controlpanel:details' %}?status=payload">View all</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">Failed connections</h4>
                </div>
                <div class="panel-body">
                    Last {{ last_5_failure|length }} failed connections (no exploit downloaded):
                    <ul>
                        {% for log in last_5_failure %}
                        <li>{{ log.timestamp|date:"Y-m-d H:i:s" }} - <a href="{% url 'controlpanel:explore_logs' %}?source_ip={{log.src_ip}}">{{ log.src_ip }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'controlpanel:details' %}?status=failed">View all</a>
                </div>
            </div>
        </div>
    </div>
    {% if stats_by_thread %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By thread</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="graph_by_thread" width="200" height="200"></canvas>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Legend</h4>
                                </div>
                                <div class="panel-body">
                                    <ul id="graph_by_thread_legend" class="list-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By thread (results)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped f32" id="table_stats_by_thread">
                        <colgroup>
                            <col style="width: 30%;"/>
                            <col/>
                            <col style="width: 5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Thread</th>
                                <th>Stats</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in stats_by_thread %}
                            <tr>
                                <td>
                                    {% if row.thread_id %}
                                    <a href="{% url 'controlpanel:details' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&thread={{row.thread_id}}">{{row.thread_name}}</a>
                                    {% else %}
                                    {{row.thread_name}}
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: {{row.payload_success_percent}}%">
                                            <span class="sr-only">{{row.payload_success_percent|floatformat}}%</span>
                                            {{row.payload_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: {{row.diff_percent}}%">
                                            <span class="sr-only">{{row.exploit_success_percent|floatformat}}%</span>
                                            {{row.exploit_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: {{row.fail_percent}}%">
                                            <span class="sr-only">{{row.fail_percent|floatformat}}%</span>
                                            {{row.fail_percent|floatformat}}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By result</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="graph_by_result" width="200" height="200"></canvas>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Legend</h4>
                                </div>
                                <div class="panel-body">
                                    <ul id="graph_by_result_legend" class="list-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By Country</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped f32" id="table_stats_by_country">
                        <colgroup>
                            <col style="width: 30%;"/>
                            <col/>
                            <col style="width: 5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Stats</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in stats_by_country %}
                            <tr>
                                <td>
                                    <a href="{% url 'controlpanel:details' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&country={{row.country.code_2}}"><span class='flag {{row.country.code_2|lower}}'></span> {{row.country.name}}</a>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: {{row.payload_success_percent}}%">
                                            <span class="sr-only">{{row.payload_success_percent|floatformat}}%</span>
                                            {{row.payload_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: {{row.diff_percent}}%">
                                            <span class="sr-only">{{row.exploit_success_percent|floatformat}}%</span>
                                            {{row.exploit_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: {{row.fail_percent}}%">
                                            <span class="sr-only">{{row.fail_percent|floatformat}}%</span>
                                            {{row.fail_percent|floatformat}}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By Browser</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped" id="table_stats_by_browser">
                        <colgroup>
                            <col style="width: 30%;"/>
                            <col/>
                            <col style="width: 5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Browser</th>
                                <th>Stats</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in stats_by_browser %}
                            <tr>
                                <td>
                                    <a href="{% url 'controlpanel:details' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&browser={{row.browser_name}}">
                                        <img src="{% url 'controlpanel:browser_icon' row.browser_name|my_slugify %}"> {{row.browser_name}}
                                    </a>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: {{row.payload_success_percent}}%">
                                            <span class="sr-only">{{row.payload_success_percent|floatformat}}%</span>
                                            {{row.payload_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: {{row.diff_percent}}%">
                                            <span class="sr-only">{{row.exploit_success_percent|floatformat}}%</span>
                                            {{row.exploit_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: {{row.fail_percent}}%">
                                            <span class="sr-only">{{row.fail_percent|floatformat}}%</span>
                                            {{row.fail_percent|floatformat}}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">By Operating System</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped" id="table_stats_by_os">
                        <colgroup>
                            <col style="width: 30%;"/>
                            <col/>
                            <col style="width: 5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Operating System</th>
                                <th>Stats</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in stats_by_os_type %}
                            <tr>
                                <td>
                                    <a href="{% url 'controlpanel:details' %}?date_min={{form.date_min.value|default:""}}&date_max={{form.date_max.value|default:""}}&os={{row.os_type}}">
                                        <img src="{% url 'controlpanel:os_icon' row.os_type|my_slugify %}"> {{row.os_type}}
                                    </a>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: {{row.payload_success_percent}}%">
                                            <span class="sr-only">{{row.payload_success_percent|floatformat}}%</span>
                                            {{row.payload_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: {{row.diff_percent}}%">
                                            <span class="sr-only">{{row.exploit_success_percent|floatformat}}%</span>
                                            {{row.exploit_success_percent|floatformat}}%
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: {{row.fail_percent}}%">
                                            <span class="sr-only">{{row.fail_percent|floatformat}}%</span>
                                            {{row.fail_percent|floatformat}}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form action="{% url 'controlpanel:set_timezone' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-4 col-md-offset-8">
            <div class="input-group">
                <select class="form-control" name="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Set"></input>
                </span>
            </div>
        </form>
    </div>

{% endblock %}
{% block bottomscripts %}
var refreshTimeout;
var countDownTimeout;
var timeoutSeconds = 60000;

function countDown(n){
  n -= 1000;
  if(n > 0){
    countDownTimeout = setTimeout("countDown(" + n + ")", 1000);
  }
  else{
    location.reload(true);
  }
  $('#countdown').html('(' + Math.floor(n/1000) + ')');
}

$('#{{ form.thread.id_for_label }}').selectpicker();

$(function() {
    
    $('#{{ form.date_min.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_min.value}}"
    });
    $('#{{ form.date_max.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_max.value}}"
    });

    if ($('#{{form.auto_refresh.id_for_label}}').prop('checked')){
        countDownTimeout = setTimeout("countDown(" + timeoutSeconds + ");", 1000);
    }
    $('#{{form.auto_refresh.id_for_label}}').change(function(){
        if ($(this).prop('checked')){
            countDownTimeout = setTimeout("countDown(" + timeoutSeconds + ");", 1000);
        }
        else{
            clearTimeout(countDownTimeout);
            $('#countdown').html('');
        }
    });

    $(':input').change(function(){
        if ($(this).attr('id') != '{{form.auto_refresh.id_for_label}}'){
            clearTimeout(countDownTimeout);
            $('#{{form.auto_refresh.id_for_label}}').attr('checked', false);
            $('#countdown').html('');
        }
    });
    
    $('.icon-plus-sign').click(function(){
        if ($(this).attr('id') != '{{form.auto_refresh.id_for_label}}'){
            clearTimeout(countDownTimeout);
            $('#{{form.auto_refresh.id_for_label}}').attr('checked', false);
            $('#countdown').html('');
        }
    });
});

// START DATATABLES
{% if stats_by_thread %}
$('#table_stats_by_thread').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "simple",
    "iDisplayLength": 5,
    "aLengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no stats here"
    }
});
{% endif %}

$('#table_stats_by_country').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "simple",
    "iDisplayLength": 5,
    "aLengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no stats here"
    }
});

$('#table_stats_by_browser').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "simple",
    "iDisplayLength": 5,
    "aLengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no stats here"
    }
});

$('#table_stats_by_os').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "simple",
    "iDisplayLength": 5,
    "aLengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no stats here"
    }
});
// END DATATABLES

// START CHARTS
{% if stats_by_thread %}
var colors = ['#4572A7', '#AA4643', '#89A54E', '#80699B', '#3D96AE', '#DB843D', '#92A8CD', '#A47D7C', '#B5CA92'];
var chartData = [
{% for row in stats_by_thread %}
    {
        value:      {{ row.total|default:0 }},
        color:      colors[{{forloop.counter0}} % colors.length],
        highlight:  colors[{{forloop.counter0}} % colors.length],
        label:      "{{ row.thread_name }}"
    }{% if not forloop.last %},{% endif %}
{% endfor %}
]

{% verbatim %}
var chartOptions = {
    legendTemplate : "<% for (var i=0; i<segments.length; i++){%><li class=\"list-group-item\"><span style=\"background-color:<%=segments[i].fillColor%>\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><%if(segments[i].label){%> <%=segments[i].label%><%}%></li><%}%>"
}
{% endverbatim %}
Chart.defaults.global.responsive = true;
var ctx = $("#graph_by_thread").get(0).getContext("2d");
var generalStatsChart = new Chart(ctx).Doughnut(chartData, chartOptions);
$("#graph_by_thread_legend").html(generalStatsChart.generateLegend());
{% endif %}

var chartData = [
    {
        value:      {{ general_stats.payload_success|default:0 }},
        color:      "#5CB85C",
        highlight:  "#5CB85C",
        label:      "Successful payload"
    },
    {
        value:      {{ general_stats.payload_failures|default:0 }},
        color:      "#F0AD4E",
        highlight:  "#F0AD4E",
        label:      "Successful exploit"
    },
    {
        value:      {{ general_stats.exploit_failures|default:0 }},
        color:      "#D9534F",
        highlight:  "#D9534F",
        label:      "Failed"
    }
]

{% verbatim %}
var chartOptions = {
    legendTemplate : "<% for (var i=0; i<segments.length; i++){%><li class=\"list-group-item\"><span style=\"background-color:<%=segments[i].fillColor%>\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><%if(segments[i].label){%> <%=segments[i].label%><%}%></li><%}%>"
}
{% endverbatim %}
Chart.defaults.global.responsive = true;
var ctx = $("#graph_by_result").get(0).getContext("2d");
var generalStatsChart = new Chart(ctx).Doughnut(chartData, chartOptions);
$("#graph_by_result_legend").html(generalStatsChart.generateLegend());
// END CHARTS
{% endblock %}
