{% extends "base.html" %}
{% block title %}Exploit - {{ exploit.name }} - Target Browser - {{ form.name.value }}{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:exploits' %}">Exploits</a></li>
        <li><a href="{% url 'controlpanel:exploit' exploit.id %}">{{ exploit.name }}</a></li>
        <li class="active">{{ form.name.value }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="target_browser" name="target_browser" method="post" role="form">
        {% csrf_token %}
        <input type="hidden" name="exploit" id="id_exploit" value="{{ exploit.id }}">
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_general_settings">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Settings</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.exploit.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.browser.label_tag }} {% if form.browser.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.browser.label }}" data-content="{{ form.browser.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.browser.html_name }}" id="{{ form.browser.id_for_label }}">
                                {% for choice in form.browser.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.browser.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.version_min.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.version_min.label_tag }}{% if form.version_min.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.version_min.label }}" data-content="{{ form.version_min.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.version_min.id_for_label }}" name="{{ form.version_min.html_name }}" value="{{ form.version_min.value|default:"" }}">
                        </div>
                        {% for error in form.version_max.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.version_max.label_tag }}{% if form.version_max.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.version_max.label }}" data-content="{{ form.version_max.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.version_max.id_for_label }}" name="{{ form.version_max.html_name }}" value="{{ form.version_max.value|default:"" }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="target_browser_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_general_settings">General settings</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$(function () {
  $('[data-toggle="popover"]').popover({placement: "auto top", html: true})
})

$('form#target_browser').change(function(){
    $('input#target_browser_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#{{ form.browser.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}
