{% extends "base.html" %}
{% block title %}Threads{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary" id="threads_list">
                <div class="panel-heading">
                    <h3 class="panel-title">Threads</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="table_threads">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Validity</th>
                                <th>Countries</th>
                                <th>Languages</th>
                                <th>Referer check</th>
                                <th>IP address check</th>
                                <th>ASN check</th>
                                <th>Hostname check</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for thread in threads %}
                            <tr onclick="window.document.location='{% url 'controlpanel:thread' thread.id %}';" style="cursor:pointer;{%if not thread.enabled %}text-decoration:line-through;" class="text-muted{% endif %}">
                                <td>
                                    {{ thread.id }}
                                </td>
                                <td>
                                    {{ thread.name }}
                                </td>
                                <td>
                                    {% if thread.date_min and thread.date_max %}
                                    {{ thread.date_min|date:"Y-m-d h:i:s" }} - {{ thread.date_max|date:"Y-m-d h:i:s" }}
                                    {% elif thread.date_min %}
                                    Not before {{ thread.date_min|date:"Y-m-d h:i:s" }}
                                    {% elif thread.date_max %}
                                    Not after {{ thread.date_max|date:"Y-m-d h:i:s" }}
                                    {% else %}
                                    Always
                                    {% endif %}
                                </td>
                                <td>
                                    {% for country in thread.countries.all %}
                                    {{ country.code_2 }}{% if not forloop.last%}, {% endif %}
                                    {% empty %}
                                    Any
                                    {%endfor%}
                                </td>
                                <td>
                                    {% for language in thread.languages.all %}
                                    {{ language.name }}{% if not forloop.last%}, {% endif %}
                                    {% empty %}
                                    Any
                                    {%endfor%}
                                </td>
                                <td>
                                    {{ thread.get_referercheck_mode_display }}
                                </td>
                                <td>
                                    {{ thread.get_ipcheck_mode_display }}
                                </td>
                                <td>
                                    {{ thread.get_asncheck_mode_display }}
                                </td>
                                <td>
                                    {{ thread.get_hostnamecheck_mode_display }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="{% url 'controlpanel:thread' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new Thread</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}
$('#table_threads').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no threads here"
    }
});
{% endblock %}