{% extends "base.html" %}
{% block title %}Threads - {{ form.name.value }}{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'controlpanel:threads' %}">Threads</a></li>
        <li class="active">{{ form.name.value }}</li>
    </ol>
{% endblock %}
{% block content %}
    <form id="thread" name="thread" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please review the errors below and try again</div>
                {% endif %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
                <div class="panel panel-primary" id="panel_general_settings">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Settings</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label_tag }}{% if form.name.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.name.label }}" data-content="{{ form.name.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:"" }}">
                        </div>
                        {% for error in form.enabled.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.enabled }} {{ form.enabled.label }}
                            </label>
                            {% if form.enabled.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.enabled.label }}" data-content="{{ form.enabled.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.once_per_thread.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.once_per_thread }} {{ form.once_per_thread.label }}
                            </label>
                            {% if form.once_per_thread.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.once_per_thread.label }}" data-content="{{ form.once_per_thread.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.once_per_ip.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.once_per_ip }} {{ form.once_per_ip.label }}
                            </label>
                            {% if form.once_per_ip.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.once_per_ip.label }}" data-content="{{ form.once_per_ip.help_text }}"></span></div>{% endif %}
                        </div>
                        {% for error in form.once_per_session.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                            {{ form.once_per_session }} {{ form.once_per_session.label }}
                            </label>
                            {% if form.once_per_session.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.once_per_session.label }}" data-content="{{ form.once_per_session.help_text }}"></span></div>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_rules">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rules</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" id="table_rules">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Exploit</th>
                                    <th>Payload</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rule in rules %}
                                <tr onclick="window.document.location='{% url 'controlpanel:rule' rule.id %}';" style="cursor:pointer;{%if not rule.enabled %}text-decoration:line-through;" class="text-muted{% endif %}">
                                    <td>
                                        <input class="rule_sort_order" type="hidden" name="sort_order[{{ rule.id }}]" value="{{ rule.sort_order }}">
                                        {{ rule.id }}
                                    </td>
                                    <td>
                                        {{ rule.name }}
                                    </td>
                                    <td>
                                        {{ rule.exploit.name }}
                                    </td>
                                    <td>
                                        {{ rule.payload.name }}
                                    </td>
                                    <td style="text-align:center;">
                                        {% if rule.stop_after_current %}<span class="glyphicon glyphicon-stop">{% else %}<span class="glyphicon glyphicon-forward"></span>{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if form.instance.id %}
                        <a class="btn btn-success" href="#" role="button" id="button_add_rule"><span class="glyphicon glyphicon-plus-sign"></span> Add new Rule</a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_validity_interval">
                    <div class="panel-heading">
                        <h3 class="panel-title">Validity interval</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.date_min.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.date_min.label_tag }} {% if form.date_min.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.date_min.label }}" data-content="{{ form.date_min.help_text }}"></span></div>{% endif %}
                            <div class="input-group date" id="{{ form.date_min.id_for_label }}">
                                <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_min.html_name }}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        {% for error in form.date_max.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.date_max.label_tag }} {% if form.date_max.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.date_max.label }}" data-content="{{ form.date_max.help_text }}"></span></div>{% endif %}
                            <div class="input-group date" id="{{ form.date_max.id_for_label }}">
                                <input type="text" class="form-control" data-date-format="YYYY-MM-DD hh:mm:ss" name="{{ form.date_max.html_name }}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_countries_languages">
                    <div class="panel-heading">
                        <h3 class="panel-title">Countries and Languages</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.countries.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.countries.label_tag }} {% if form.countries.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.countries.label }}" data-content="{{ form.countries.help_text }}"></span></div>{% endif %}
                            <select class="form-control f32" name="{{ form.countries.html_name }}" id="{{ form.countries.id_for_label }}" multiple="multiple">
                                {% for choice in form.countries.field.choices %}
                                <option value="{{ choice.0 }}" data-content="<span class='flag {{choice.1.code_2|lower}}'></span> {{choice.1.name}}"{% if choice.0 in form.countries.value %} selected="selected"{% endif %}></option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.languages.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.languages.label_tag }} {% if form.languages.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.languages.label }}" data-content="{{ form.languages.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.languages.html_name }}" id="{{ form.languages.id_for_label }}" multiple="multiple">
                                {% for choice in form.languages.field.choices %}
                                <option value="{{ choice.0 }}"{% if choice.0 in form.languages.value %} selected="selected"{% endif %}>{{choice.1.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_referers_control">
                    <div class="panel-heading">
                        <h3 class="panel-title">Referers control</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.referercheck_mode.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.referercheck_mode.label_tag }} {% if form.referercheck_mode.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.referercheck_mode.label }}" data-content="{{ form.referercheck_mode.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.referercheck_mode.html_name }}" id="{{ form.referercheck_mode.id_for_label }}">
                                {% for choice in form.referercheck_mode.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.referercheck_mode.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.referercheck_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.referercheck_type.label_tag }} {% if form.referercheck_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.referercheck_type.label }}" data-content="{{ form.referercheck_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.referercheck_type.html_name }}" id="{{ form.referercheck_type.id_for_label }}">
                                {% for choice in form.referercheck_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.referercheck_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.referercheck_list.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.referercheck_list.label_tag }} {% if form.referercheck_list.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.referercheck_list.label }}" data-content="{{ form.referercheck_list.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.referercheck_list.html_name }}" id="{{ form.referercheck_list.id_for_label }}">{{ form.referercheck_list.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_ip_addresses">
                    <div class="panel-heading">
                        <h3 class="panel-title">IP Addresses</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.ipcheck_mode.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.ipcheck_mode.label_tag }} {% if form.ipcheck_mode.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.ipcheck_mode.label }}" data-content="{{ form.ipcheck_mode.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.ipcheck_mode.html_name }}" id="{{ form.ipcheck_mode.id_for_label }}">
                                {% for choice in form.ipcheck_mode.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.ipcheck_mode.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.ipcheck_list.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.ipcheck_list.label_tag }} {% if form.ipcheck_list.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.ipcheck_list.label }}" data-content="{{ form.ipcheck_list.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.ipcheck_list.html_name }}" id="{{ form.ipcheck_list.id_for_label }}">{{ form.ipcheck_list.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_autonomous_systems">
                    <div class="panel-heading">
                        <h3 class="panel-title">Autonomous Systems (ASN)</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.asncheck_mode.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.asncheck_mode.label_tag }} {% if form.asncheck_mode.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.asncheck_mode.label }}" data-content="{{ form.asncheck_mode.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.asncheck_mode.html_name }}" id="{{ form.asncheck_mode.id_for_label }}">
                                {% for choice in form.asncheck_mode.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.asncheck_mode.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.asncheck_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.asncheck_type.label_tag }}{% if form.asncheck_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.asncheck_type.label }}" data-content="{{ form.asncheck_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.asncheck_type.html_name }}" id="{{ form.asncheck_type.id_for_label }}">
                                {% for choice in form.asncheck_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.asncheck_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.asncheck_list.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.asncheck_list.label_tag }} {% if form.asncheck_list.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.asncheck_list.label }}" data-content="{{ form.asncheck_list.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.asncheck_list.html_name }}" id="{{ form.asncheck_list.id_for_label }}">{{ form.asncheck_list.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_host_names">
                    <div class="panel-heading">
                        <h3 class="panel-title">Host names</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.hostnamecheck_mode.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.hostnamecheck_mode.label_tag }} {% if form.hostnamecheck_mode.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.hostnamecheck_mode.label }}" data-content="{{ form.hostnamecheck_mode.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.hostnamecheck_mode.html_name }}" id="{{ form.hostnamecheck_mode.id_for_label }}">
                                {% for choice in form.hostnamecheck_mode.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.hostnamecheck_mode.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.hostnamecheck_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.hostnamecheck_type.label_tag }} {% if form.hostnamecheck_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.hostnamecheck_type.label }}" data-content="{{ form.hostnamecheck_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.hostnamecheck_type.html_name }}" id="{{ form.hostnamecheck_type.id_for_label }}">
                                {% for choice in form.hostnamecheck_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.hostnamecheck_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.hostnamecheck_list.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.hostnamecheck_list.label_tag }} {% if form.hostnamecheck_list.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.hostnamecheck_list.label }}" data-content="{{ form.hostnamecheck_list.help_text }}"></span></div>{% endif %}
                            <textarea rows="10" class="form-control" name="{{ form.hostnamecheck_list.html_name }}" id="{{ form.hostnamecheck_list.id_for_label }}">{{ form.hostnamecheck_list.value|default:"" }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_escape_modes">
                    <div class="panel-heading">
                        <h3 class="panel-title">Escape modes</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.escape_type.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.escape_type.label_tag }} {% if form.escape_type.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.escape_type.label }}" data-content="{{ form.escape_type.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.escape_type.html_name }}" id="{{ form.escape_type.id_for_label }}">
                                {% for choice in form.escape_type.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.escape_type.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.escape_payload.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.escape_payload.label_tag }} {% if form.escape_payload.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.escape_payload.label }}" data-content="{{ form.escape_payload.help_text }}"></span></div>{% endif %}
                            <input type="text" class="form-control" id="{{ form.escape_payload.id_for_label }}" name="{{ form.escape_payload.html_name }}" value="{{ form.escape_payload.value|default:"" }}">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="panel_notifications">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notifications</h3>
                    </div>
                    <div class="panel-body">
                        {% for error in form.notifications.errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.notifications.label_tag }} {% if form.notifications.help_text %}<div class="pull-right"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;" data-toggle="popover" title="{{ form.notifications.label }}" data-content="{{ form.notifications.help_text }}"></span></div>{% endif %}
                            <select class="form-control" name="{{ form.notifications.html_name }}" id="{{ form.notifications.id_for_label }}">
                                {% for choice in form.notifications.field.choices %}
                                <option value="{{ choice.0 }}"{% ifequal form.notifications.value choice.0 %} selected="selected"{% endifequal %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <nav class="bs-docs-sidebar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li><input type="submit" id="thread_save" class="btn btn-default" value="Save" style="margin-bottom:20px;margin-left:20px;" disabled="disabled" onclick="needConfirmation = false;"></li>
                        <li><a href="#panel_general_settings">General settings</a></li>
                        <li><a href="#panel_rules">Rules</a></li>
                        <li><a href="#panel_validity_interval">Validity interval</a></li>
                        <li><a href="#panel_countries_languages">Countries and Languages</a></li>
                        <li><a href="#panel_referers_control">Referers control</a></li>
                        <li><a href="#panel_ip_addresses">IP Addresses</a></li>
                        <li><a href="#panel_autonomous_systems">Autonomous Systems</a></li>
                        <li><a href="#panel_host_names">Host names</a></li>
                        <li><a href="#panel_escape_modes">Escape modes</a></li>
                        <li><a href="#panel_notifications">Notifications</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
    {% if form.instance.id %}
    <form name="new_rule" id="new_rule" method="post" action="{% url 'controlpanel:rule' %}">
        {% csrf_token %}
        <input type="hidden" name="thread" id="id_thread" value="{{ form.instance.id }}">
        <input type="hidden" name="status" id="id_status" value="new">
    </form>
    {% endif %}
{% endblock %}
{% block bottomscripts %}
var needConfirmation = false;

$(function() {
    $('#{{ form.date_min.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_min.value|date:"Y-m-d H:i:s"}}"
    });
    $('#{{ form.date_max.id_for_label }}').datetimepicker({
        defaultDate: "{{form.date_max.value|date:"Y-m-d H:i:s"}}"
    });
    $('[data-toggle="popover"]').popover({placement: "auto top", html: true});
});

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

$('#table_rules').dataTable({
    "bProcessing": false,
    "bStateSave": true,
    "bJQueryUI": true,
    "bAutoWidth": false,
    "bSort": false,
    "sPaginationType": "full_numbers",
    "oLanguage":{
        "sZeroRecords": "No records found.",
        "sLengthMenu": "Display: _MENU_",
        "sInfoFiltered": "",
        "sEmptyTable": "Still no rules here"
    }
});

$("#table_rules tbody").sortable({
    cursor: "move",
    stop: function(){
        var inputs = $('input.rule_sort_order');
        var nbElems = inputs.length;
        $('input.rule_sort_order').each(function(idx){
            $(this).val(idx + 1).trigger('change');
        });
    }
});

$('form#thread').change(function(){
    $('input#thread_save').prop('disabled', false).removeClass('btn-default').addClass('btn-danger');
    needConfirmation = true;
});

window.onbeforeunload = confirmExit;
function confirmExit(){
    if (needConfirmation)
        return "You have unsaved changes, are you sure you want to exit?";
}

$('#button_add_rule').click(function(event){
    $('#new_rule').submit();
});

$('#{{ form.countries.id_for_label }}').selectpicker();
$('#{{ form.languages.id_for_label }}').selectpicker();
$('#{{ form.referercheck_mode.id_for_label }}').selectpicker();
$('#{{ form.referercheck_type.id_for_label }}').selectpicker();
$('#{{ form.ipcheck_mode.id_for_label }}').selectpicker();
$('#{{ form.asncheck_mode.id_for_label }}').selectpicker();
$('#{{ form.asncheck_type.id_for_label }}').selectpicker();
$('#{{ form.hostnamecheck_mode.id_for_label }}').selectpicker();
$('#{{ form.hostnamecheck_type.id_for_label }}').selectpicker();
$('#{{ form.escape_type.id_for_label }}').selectpicker();
{% endblock %}
{% block customcss %}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
{% endblock %}
