<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/encutils.js"></script>
    <script type="text/javascript" src="/static/js/PluginDetect.js"></script>
    <script type="text/javascript">
        PluginDetect.getVersion(".");
        PluginDetect.onWindowLoaded(function(pd){
            var r = { };

            var p = [ {% for plugin in plugins %}"{{ plugin }}", {% endfor %} ];
            for (i = 0; i < p.length; ++i) {
                pn = p[i];
                pv = pd.getVersion(pn);
                if (pv) {
                    r[pn] = pv;
                }
            }

            var h = document.createElement("input");
            h.setAttribute("type", "hidden");
            h.setAttribute("name", "data");
            h.setAttribute("value", b64_encode("{{ b64_table }}", xor_encrypt("{{ xor_key }}", JSON.stringify(r))));

            var t = document.createElement("input");
            t.setAttribute("type", "hidden");
            t.setAttribute("name", "csrfmiddlewaretoken");
            t.setAttribute("value", "{{ csrf_token }}");

            var f = document.createElement("form");
            f.setAttribute("method", "POST");
            f.setAttribute("action", "{{ dropzone|safe }}");

            f.appendChild(h);
            f.appendChild(t)
            document.body.appendChild(f);
            f.submit();
        });
    </script>
</head>
<body>
</body>
</html>
