{% extends "base.html" %}
{% block title %}Stats - Login {% endblock %}
{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form name="filter" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                {{ form.username.label_tag }}
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:"" }}">
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.password.label_tag }}
                                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:"" }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Go!">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}